datadir: /commons/Themas/Thema11/Giepmans/ #/Thema11/Ra/data/

dataset_dir: /tmp/ra_data/edges_included_3/ #/Thema11/Ipy/results_nucleus_manual_sgd/
results_dir: /commons/Themas/Thema11/Giepmans/work/Edge_run_4/ #/Thema11/Ipy/results_nucleus_manual_sgd/

train_data: Tile_r4-c7_Acquisition Spec 3_452994970.tif

classifiers:
#  mitchodira: r4-c7_mithochondria.tif
  nucleus: work/r4-c7_nucleus.tif

segment:
  r4: Tile_r4-c7_Acquisition Spec 3_452994970.tif
  #r5: Tile_r4-c4_Acquisition Spec 3_452994970.tif
  #r5_matched: work/Tile_r4-c4_Acquisition Spec 3_452994970_matched.tif

gaussian_layers: 6 #4
window_size:
  !!python/tuple [5,5] #[5,5] #[3,3]

algorithms:
  #- SGD
  - SGDmanual
  #- DecisionTree
  #- MultinomialNB
  #- ZeroR